<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1><%= wiki.title %></h1>

            <% if(currentUser) { %>
            <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning"
                >Edit</a
            >
            <form
                style="display:initial"
                action="/wikis/<%= wiki.id %>/destroy"
                method="post"
            >
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <% } %> <% if(currentUser && currentUser.role !== 0) {
            if(wiki.private == true) { %>
            <p>Click below to make this wiki public</p>
            <form
                style="display:initial"
                action="/wikis/<%= wiki.id %>/makePublic"
                method="post"
            >
                <button type="submit" class="btn btn-info">Make Public</button>
            </form>
            <% } else if(wiki.private == false) { %>
            <p>Click below to make this wiki private</p>
            <form
                style="display:initial"
                action="/wikis/<%= wiki.id %>/makePrivate"
                method="post"
            >
                <button type="submit" class="btn btn-info">Make Private</button>
            </form>
            <% } } %>

            <p><%= wiki.body %></p>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
